<nav>
    <div class="nav-container">
        <ul>
            <li><a href="/">METEHAN TURGUT</a></li>
            <li id="nav-toggle-container">
                <span>Services</span>
                <ul id="nav-toggle">
                    <li><a href="/image_converter">Image Converter</a></li>
                    <li><a href="/document_converter">Document Converter</a></li>
                </ul>
            </li>
            <li><a href="/contact_me">Contact</a></li>
            <li><a href="/privacy_policy">Privacy Policy</a></li>
            <li><a href="/terms_of_service">Terms of Service</a></li>
        </ul>
    </div>
</nav>